
@{
    Layout = null;
  
}

<footer id="gen-footer">
    <div class="gen-footer-style-1">
        <div class="gen-footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-xl-12 col-md-12">
                        <div class="widget">
       
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="gen-copyright-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center">
                        <span class="gen-copyright">
                            <a target="_blank" href="https://www.s7ven.co/">
                                Copyright 2021 S7VEN All Rights
                                Reserved.
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>