@model IEnumerable<Realestate_portal.Models.Tb_Status>

@{
    ViewBag.Title = "Index";
 
}


<div class="container-fluid">

    <!-- Begin Page Header-->
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title"></h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="ti ti-home"></i></a></li>
                        <li class="breadcrumb-item active">STATUS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    <div>
        <p>
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#mstatusModal">Add Customer Status</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    <label>Customer Status</label>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stage_name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id_Status }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id_Status })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>