@model List<Realestate_portal.Models.Tb_Webinars>
@{
    ViewBag.Title = "Premium Group Realty - Webinar";
}
<div class="grid grid-cols-12 gap-6 mt-8">
    <div class="col-span-12 lg:col-span-3 2xl:col-span-2">
        <h2 class="intro-y text-lg font-medium mr-auto mt-2">
            WEBINARS
        </h2>
        <!-- BEGIN: File Manager Menu -->
        <div class="intro-y box p-5 mt-6">

            <iframe src="https://calendar.google.com/calendar/b/4/embed?height=400&amp;wkst=1&amp;bgcolor=%23A79B8E&amp;ctz=America%2FNew_York&amp;src=cGdyd2Vic2l0ZTIwMjBAZ21haWwuY29t&amp;color=%23039BE5&amp;showNav=0&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;showDate=1&amp;mode=AGENDA&amp;showPrint=0&amp;showTz=0" style="border:solid 1px #777" width="100%" height="400" frameborder="0" scrolling="no"></iframe>


        </div>
        <!-- END: File Manager Menu -->
    </div>
    <div class="col-span-12 lg:col-span-9 2xl:col-span-10">
        <!-- BEGIN: File Manager Filter -->
        <div class="intro-y flex flex-col-reverse sm:flex-row items-center">
           

                <iframe src="https://calendar.google.com/calendar/b/4/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=cGdyd2Vic2l0ZTIwMjBAZ21haWwuY29t&amp;color=%23039BE5&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=1" style="width:100%;height:950px" frameborder="0" scrolling="no"></iframe>

           
        </div>
        <!-- END: File Manager Filter -->



    </div>
</div>
